In [24]:
import pandas as pd
from datetime import datetime


df = pd.read_csv("../data/garry_reviews.csv")

In [25]:
df

,index,recommend,content,datetime
0,1,True,l,2025-07-13 14:21:22
1,2,True,왜 이렇게 많이 했지,2025-07-13 11:08:40
2,3,True,풍자 입니다 굿 이게임 사세요,2025-07-13 02:45:35
3,4,True,친구가 없는데 게임을 어케 하냐구,2025-07-12 17:26:44
4,5,True,wow,2025-07-12 06:13:15
...,...,...,...,...
1795,1796,True,친구만 있다면 개꿀잼,2022-07-06 09:51:09
1796,1797,True,정신병자 수용소,2022-07-06 05:47:44
1797,1798,False,플레이 할라했는데 게임단어들이 네모로 오류 떠서 게임 안됨;;,2022-07-05 08:35:33
1798,1799,True,rnt\n굿,2022-07-03 12:27:41
1799,1800,True,ZZZZZ,2022-07-02 14:18:17

In [26]:
import pandas as pd
import re

def is_meaningful(text, min_len=5, max_space_ratio=0.7):
    if not isinstance(text, str) or len(text.strip()) == 0:
        return False
    cleaned = re.sub(r"\s+", " ", text.strip())  # 여러 공백을 하나로 축소
    total_len = len(cleaned)
    space_count = cleaned.count(" ")
    
    # 공백 비율과 최소 길이로 필터링
    space_ratio = space_count / total_len if total_len > 0 else 1.0
    return total_len >= min_len and space_ratio <= max_space_ratio

# 사용 예시
df["content"] = df["content"].fillna("").astype(str)
df = df[df["content"].apply(is_meaningful)].copy()
df["content"] = df["content"].str.strip().replace(r"\s+", " ", regex=True)

In [28]:

df.to_csv("fixed_garry_review.csv",encoding='utf-8')

In [30]:
df1 = pd.read_csv("../data/portal_reviews1.csv")

In [ ]:
df1["content"] = df1["content"].fillna("").astype(str)
df1 = df1[df1["content"].apply(is_meaningful)].copy()
df1["content"] = df1["content"].str.strip().replace(r"\s+"," ",regex=True)

In [35]:
df1.to_csv('fixed_portal_reviews.csv',encoding='utf-8')

In [1]:
from dotenv import load_dotenv

load_dotenv()

True